@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Neuton&display=swap')
@import url('https://fonts.googleapis.com/css?family=Metrophobic&display=swap')

// Override default bulma variables here
$broken-white: #F2F2F2
$body-background-color: $broken-white
$link: Coral

//$family-primary: 'Neuton', serif
//$family-secondary: 'Metrophobic', sans-serif
//$body-font-size: 1.1em
//$size-1: $size1 * 1.25

/* Import necessary Bulma components
    This will need to be trimmed at the end of the project to minimise size of file */    


@import "../../../node_modules/bulma/sass/utilities/_all"
@import "../../../node_modules/bulma/sass/base/_all"
@import "../../../node_modules/bulma/sass/elements/_all"
@import "../../../node_modules/bulma/sass/form/_all"
@import "../../../node_modules/bulma/sass/components/_all"
@import "../../../node_modules/bulma/sass/grid/_all"
@import "../../../node_modules/bulma/sass/layout/_all"

.blogListing
    @media screen and (max-device-width: $desktop) 
        margin-left: 1em
        margin-right: 1em

.blogListingTagContainer
    @media screen and (max-device-width: $tablet) 
        display: none

.hero-blog
    
  @extend .hero
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
  background-size: cover
  text-align: center

.container-blog

    @extend .container
    background-color: $white

    @media screen and (max-device-width: $desktop)
        padding-top: $gap

    @media screen and (min-device-width: $desktop)         
        max-width: $widescreen * 0.75
        padding: $gap
        border-radius: 3px
        margin-bottom: $gap

    .columns
        margin: auto

    .blogListingTitle
        font-weight: 400
        //font-size: $size-3
        //line-height: 1.1rem
        //margin-bottom: $gap / 2
    
    #post-content        
        padding: $gap / 4
        font-size: 1.2em

        .footnotes
            p
                font-size: 1em

.post-container 
    @extend .container-blog
    @media screen and (min-width: $desktop)
        margin-top: 10 * -$gap

.listing-container
    @extend .container-blog
    @media screen and (min-width: $desktop)
        margin-top: 10 * -$gap

.contains-task-list
    padding-left: $gap / 2

.navbar-item.navbar-center
        flex-grow: 1
        flex-direction: column
        justify-content: center

.centered-image
    margin: auto

.main-page-background
    background: papayawhip
    background: rgba(255, 228, 181, 0.5)
    border-radius: 3px