<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}    
    {% include "assets/css/bulma.css" %}   
  {% endset %}
  {% if config.environment == "production" %}
    <style>{{ css | cssmin | safe }}</style>
  {% else %}
    <style>{{ css | safe }}</style>
  {% endif %}
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  {% if config.environment == "production" %}
    <script type="text/javascript">{{ js | jsmin | safe }}</script>
  {% else %}
    <script type="text/javascript">{{ js | safe }}</script>
  {% endif %}
</head>