<!-- HERO START -->
<section class="hero-blog is-fullheight bloghero">

  <!-- HERO NAV -->
  <div class="hero-head">
    {% include "components/nav.njk" %}
  </div>
  <!-- HERO NAV END -->

  <div class="hero-body">
    <div class=" container">
      <h1 class="title is-1 has-text-white-bis">
        {{ title }}
      </h1>
      <h2 class="subtitle is-3 has-text-white-bis">
        {{ subtitle }}
      </h2>
    </div>
  </div>
</section>
<!-- HERO END  -->