<!-- INFORMATION ROW -->
   <div class="columns is-mobile is-multiline">

    <!-- READING TIME -->
    <div id="reading-time" class="column has-text-centered">
      🕒 {{ content | readTime }}
    </div>
    <!-- READING TIME END-->

    <!-- RELEASE DATE -->
    <div class="column  has-text-centered">
      📅 <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </div>
    <!-- RELEASE DATE END-->

    <div class="column is-full-mobile has-text-centered">
      by {{ metadata.author.name }}
    </div>

    <!-- TAGS -->
    {% if tags %}
    
    <div class="column is-full has-text-centered">
      🏷️
        {% for tag in tags %}
          {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <!-- <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a><span> -->
            <span class="tag">{{ tag }}</span>
          {%- endif -%}
        {% endfor %}      
    </div>
    {% endif %}

    <!-- TAGS END -->

  </div> 
  <!-- INFORMATION ROW END -->
