<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  
  <!-- Image on the left side-->
  <div class="navbar-brand">
    <a class="navbar-item navbar-center" href="https://akos.land">
      <img src="/static/img/akosland_30h.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar">
    <div class="navbar-start">
      {%- for nav in collections.nav | sort(attribute="date") -%}
          <a class="navbar-item navbar-center" href="{{ nav.url | url }}" {% if nav.url == page.url %} data-current="current item" {% endif %}>{{ nav.data.navtitle }}</a>
      {%- endfor -%}
    </div>
  </div>
</div>
</nav>