<!doctype html>

<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

    {% include "components/head.njk" %}

    <body>

        {{ layoutContent | safe }}

        {% if footer %}
        {% include "components/footer.njk" %}
        {% endif %}
    </body>

</html>