---
title: Blog
subtitle: I write things
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
footer: false
---


{% include "components/hero.njk" %}


<div class="container-blog listing-container">

    {{ layoutContent | safe }}

    {% set postslist = collections.posts %}
    {% include "components/postslist.njk" %}

</div>