---
layout: layouts/base.njk
section: home
footer: false
---
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="columns is-centered is-vcentered">
                            <div class="column is-two-thirds-desktop is-three-thirds-tablet is-centered">
                                <div class="columns is-vcentered is-centered">
                                    <div class="column is-centered is-one-third-desktop  is-one-quarter-tablet is-two-thirds-mobile centered-image">
                                        <figure class="image is-256x256 is-centered">
                                            <img alt="profile" class="is-rounded" src="https://d33wubrfki0l68.cloudfront.net/344e3d87ee842ac1e426e5b3f64e32eb9594c383/2c549/images/akos.png">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <h1 class="title ">
                                            Akos Demuth
                                        </h1>
                                        <p class="subtitle">
                                            Data scientist in the making. Award winning ex-gamedev, system tester and engineer. Automation enthusiast & privacy advocate. 🚫🍪
                                            
                                            <br/><br/><a href="/blog">📋 Blog</a>
                                        </p>
                                        <a class="fa-icon" href="https://twitter.com/daemuth" target="_blank">
                                            <svg width="32px" aria-hidden="true" focusable="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                                                <path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path>
                                            </svg>
                                        </a>
                                        <a class="fa-icon" href="https://uk.linkedin.com/in/akosdemuth" target="_blank">
                                            <svg width="32px" aria-hidden="true" focusable="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                                                <path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>