---
layout: layouts/base.njk
section: post
---

{% include "components/hero.njk" %}

  
<section class="content">
  <div class="container-blog post-container">

    {% include "components/info_row.njk" %}

     

    <div id="post-content">
        {{ content | safe }}
    </div>

  </div>
</section>
